adminlte/Connected Services/ASATReporteExamenEstudianteService/ASATReporteExamenEstudianteClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ASATReporteExamenEstudianteClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/ASATReporteExamenEstudiante?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/ASATReporteExamenEstudiante?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/ASATReporteExamenEstudiante?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteBloquear" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteDesbloquear" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteSeleccionar" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebASATReporteExamenEstudianteSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="ASATReporteExamenEstudianteInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebNuevo" message="tns:ASATReporteExamenEstudianteInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebNuevoResponse" message="tns:ASATReporteExamenEstudianteInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebGuardar" message="tns:ASATReporteExamenEstudianteInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebGuardarResponse" message="tns:ASATReporteExamenEstudianteInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebEliminar" message="tns:ASATReporteExamenEstudianteInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebEliminarResponse" message="tns:ASATReporteExamenEstudianteInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebEliminarDetalle" message="tns:ASATReporteExamenEstudianteInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebEliminarDetalleResponse" message="tns:ASATReporteExamenEstudianteInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebSeleccionar" message="tns:ASATReporteExamenEstudianteInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebSeleccionarResponse" message="tns:ASATReporteExamenEstudianteInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebRecalcular" message="tns:ASATReporteExamenEstudianteInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebRecalcularResponse" message="tns:ASATReporteExamenEstudianteInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteBloquear" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteBloquearResponse" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteDesbloquear" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteDesbloquearResponse" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteEsBloqueadoPor" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteEsBloqueadoPorResponse" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteEsBloqueado" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteEsBloqueadoResponse" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionarTodo" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionarTodoResponse" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionar" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionarResponse" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionarXSubCompania" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionarXSubCompaniaResponse" message="tns:ASATReporteExamenEstudianteInterface_WebASATReporteExamenEstudianteSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ASATReporteExamenEstudianteInterface" type="tns:ASATReporteExamenEstudianteInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteBloquear">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteDesbloquear">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteSeleccionar">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebASATReporteExamenEstudianteSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/ASATReporteExamenEstudianteInterface/WebASATReporteExamenEstudianteSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASATReporteExamenEstudianteClass">
    <wsdl:port name="BasicHttpBinding_ASATReporteExamenEstudianteInterface" binding="tns:BasicHttpBinding_ASATReporteExamenEstudianteInterface">
      <soap:address location="http://alejandroasus:8901/ASATReporteExamenEstudiante" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>