adminlte/Connected Services/TASConfiguracionEncuestaAlumnoInstructorService/TASConfiguracionEncuestaAlumnoInstructorClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TASConfiguracionEncuestaAlumnoInstructorClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/TASConfiguracionEncuestaAlumnoInstructor?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASConfiguracionEncuestaAlumnoInstructor?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASConfiguracionEncuestaAlumnoInstructor?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorBloquear" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="TASConfiguracionEncuestaAlumnoInstructorInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebNuevo" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebNuevoResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebGuardar" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebGuardarResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebEliminar" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebEliminarResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebEliminarDetalle" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebEliminarDetalleResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebSeleccionar" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebSeleccionarResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebRecalcular" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebRecalcularResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorBloquear" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorBloquearResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorDesbloquearResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPorResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodoResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompaniaResponse" message="tns:TASConfiguracionEncuestaAlumnoInstructorInterface_WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TASConfiguracionEncuestaAlumnoInstructorInterface" type="tns:TASConfiguracionEncuestaAlumnoInstructorInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorBloquear">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaAlumnoInstructorInterface/WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TASConfiguracionEncuestaAlumnoInstructorClass">
    <wsdl:port name="BasicHttpBinding_TASConfiguracionEncuestaAlumnoInstructorInterface" binding="tns:BasicHttpBinding_TASConfiguracionEncuestaAlumnoInstructorInterface">
      <soap:address location="http://alejandroasus:8901/TASConfiguracionEncuestaAlumnoInstructor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>