adminlte/Connected Services/TASConfiguracionEncuestaAlumnoInstructorService/TASConfiguracionEncuestaAlumnoInstructor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alejandroasus:8901/TASConfiguracionEncuestaAlumnoInstructor?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
  <xs:element name="WebNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebNuevoResult" nillable="true" type="q1:TASConfiguracionEncuestaAlumnoInstructorSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASConfiguracionEncuestaAlumnoInstructor" nillable="true" type="q2:TASConfiguracionEncuestaAlumnoInstructorSet" />
        <xs:element minOccurs="0" name="EsNuevo" type="xs:boolean" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebGuardarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASConfiguracionEncuestaAlumnoInstructor" nillable="true" type="q3:TASConfiguracionEncuestaAlumnoInstructorSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASConfiguracionEncuestaAlumnoInstructor" nillable="true" type="q4:TASConfiguracionEncuestaAlumnoInstructorSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarDetalleResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstructorLic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebSeleccionarResult" nillable="true" type="q5:TASConfiguracionEncuestaAlumnoInstructorSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASConfiguracionEncuestaAlumnoInstructor" nillable="true" type="q6:TASConfiguracionEncuestaAlumnoInstructorSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebRecalcularResult" nillable="true" type="q7:TASConfiguracionEncuestaAlumnoInstructorSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorBloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstructorLic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorBloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASConfiguracionEncuestaAlumnoInstructorBloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorDesbloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstructorLic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorDesbloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASConfiguracionEncuestaAlumnoInstructorDesbloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstructorLic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoPorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstructorLic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASConfiguracionEncuestaAlumnoInstructorEsBloqueadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarTodoResult" nillable="true" type="q8:ArrayOfTASConfiguracionEncuestaAlumnoInstructorEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InstructorLic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarResult" nillable="true" type="q9:ArrayOfTASConfiguracionEncuestaAlumnoInstructorEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebTASConfiguracionEncuestaAlumnoInstructorSeleccionarXSubCompaniaResult" nillable="true" type="q10:ArrayOfTASConfiguracionEncuestaAlumnoInstructorEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>