adminlte/Connected Services/AXFUsuarioService/AXFUsuario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAXFUsuarioEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AXFUsuarioEntity" nillable="true" type="tns:AXFUsuarioEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAXFUsuarioEntity" nillable="true" type="tns:ArrayOfAXFUsuarioEntity" />
  <xs:complexType name="AXFUsuarioEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFUsuarioEntity" nillable="true" type="tns:AXFUsuarioEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="AXFUsuarioSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltAXFUsuario" nillable="true" type="tns:ArrayOfAXFUsuarioEntity" />
      <xs:element minOccurs="0" name="ltAXFUsuarioClaseUsuario" nillable="true" type="tns:ArrayOfAXFUsuarioClaseUsuarioEntity" />
      <xs:element minOccurs="0" name="ltAXFUsuarioPropiedad" nillable="true" type="tns:ArrayOfAXFUsuarioPropiedadEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFUsuarioSet" nillable="true" type="tns:AXFUsuarioSet" />
  <xs:complexType name="ArrayOfAXFUsuarioClaseUsuarioEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AXFUsuarioClaseUsuarioEntity" nillable="true" type="tns:AXFUsuarioClaseUsuarioEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAXFUsuarioClaseUsuarioEntity" nillable="true" type="tns:ArrayOfAXFUsuarioClaseUsuarioEntity" />
  <xs:complexType name="AXFUsuarioClaseUsuarioEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaseUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFUsuarioClaseUsuarioEntity" nillable="true" type="tns:AXFUsuarioClaseUsuarioEntity" />
  <xs:complexType name="ArrayOfAXFUsuarioPropiedadEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AXFUsuarioPropiedadEntity" nillable="true" type="tns:AXFUsuarioPropiedadEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAXFUsuarioPropiedadEntity" nillable="true" type="tns:ArrayOfAXFUsuarioPropiedadEntity" />
  <xs:complexType name="AXFUsuarioPropiedadEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Propiedad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFUsuarioPropiedadEntity" nillable="true" type="tns:AXFUsuarioPropiedadEntity" />
</xs:schema>