adminlte/Connected Services/TASMaterialProgramaAnaliticoService/TASMaterialProgramaAnaliticoClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TASMaterialProgramaAnaliticoClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/TASMaterialProgramaAnalitico?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASMaterialProgramaAnalitico?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASMaterialProgramaAnalitico?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoBloquear" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoDesbloquear" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMaterialProgramaAnaliticoSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="TASMaterialProgramaAnaliticoInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebNuevo" message="tns:TASMaterialProgramaAnaliticoInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebNuevoResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebGuardar" message="tns:TASMaterialProgramaAnaliticoInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebGuardarResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebEliminar" message="tns:TASMaterialProgramaAnaliticoInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebEliminarResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebEliminarDetalle" message="tns:TASMaterialProgramaAnaliticoInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebEliminarDetalleResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebSeleccionar" message="tns:TASMaterialProgramaAnaliticoInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebSeleccionarResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebRecalcular" message="tns:TASMaterialProgramaAnaliticoInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebRecalcularResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoBloquear" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoBloquearResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoDesbloquear" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoDesbloquearResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoEsBloqueadoPor" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoEsBloqueadoPorResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoEsBloqueado" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoEsBloqueadoResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionarTodo" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionarTodoResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionar" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionarResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionarXSubCompaniaResponse" message="tns:TASMaterialProgramaAnaliticoInterface_WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TASMaterialProgramaAnaliticoInterface" type="tns:TASMaterialProgramaAnaliticoInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoBloquear">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoDesbloquear">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/TASMaterialProgramaAnaliticoInterface/WebTASMaterialProgramaAnaliticoSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TASMaterialProgramaAnaliticoClass">
    <wsdl:port name="BasicHttpBinding_TASMaterialProgramaAnaliticoInterface" binding="tns:BasicHttpBinding_TASMaterialProgramaAnaliticoInterface">
      <soap:address location="http://alejandroasus:8901/TASMaterialProgramaAnalitico" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>