adminlte/Connected Services/AXFSesionService/AXFSesion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAXFSesionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AXFSesionEntity" nillable="true" type="tns:AXFSesionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAXFSesionEntity" nillable="true" type="tns:ArrayOfAXFSesionEntity" />
  <xs:complexType name="AXFSesionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Literal1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Literal2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SesionOri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFSesionEntity" nillable="true" type="tns:AXFSesionEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="AXFSesionSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltAXFSesion" nillable="true" type="tns:ArrayOfAXFSesionEntity" />
      <xs:element minOccurs="0" name="ltAXFSesionMensaje" nillable="true" type="tns:ArrayOfAXFSesionMensajeEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFSesionSet" nillable="true" type="tns:AXFSesionSet" />
  <xs:complexType name="ArrayOfAXFSesionMensajeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AXFSesionMensajeEntity" nillable="true" type="tns:AXFSesionMensajeEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAXFSesionMensajeEntity" nillable="true" type="tns:ArrayOfAXFSesionMensajeEntity" />
  <xs:complexType name="AXFSesionMensajeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" type="xs:long" />
      <xs:element minOccurs="0" name="Sesion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextoMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFSesionMensajeEntity" nillable="true" type="tns:AXFSesionMensajeEntity" />
</xs:schema>