adminlte/Connected Services/AdminMultasService/AdminMultas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdminMultasSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltAdminMultas" nillable="true" type="tns:ArrayOfAdminMultasEntity" />
      <xs:element minOccurs="0" name="ltAdminMultasDetalle" nillable="true" type="tns:ArrayOfAdminMultasDetalleEntity" />
      <xs:element minOccurs="0" name="ltAdminMultasDetalleEliminado" nillable="true" type="tns:ArrayOfAdminMultasDetalleEntity" />
      <xs:element minOccurs="0" name="ltAdminMultasEliminado" nillable="true" type="tns:ArrayOfAdminMultasEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminMultasSet" nillable="true" type="tns:AdminMultasSet" />
  <xs:complexType name="ArrayOfAdminMultasEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminMultasEntity" nillable="true" type="tns:AdminMultasEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminMultasEntity" nillable="true" type="tns:ArrayOfAdminMultasEntity" />
  <xs:complexType name="AdminMultasEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="EstudianteCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminMultasEntity" nillable="true" type="tns:AdminMultasEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfAdminMultasDetalleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminMultasDetalleEntity" nillable="true" type="tns:AdminMultasDetalleEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminMultasDetalleEntity" nillable="true" type="tns:ArrayOfAdminMultasDetalleEntity" />
  <xs:complexType name="AdminMultasDetalleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Concepto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstudianteCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Linea" type="xs:long" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagado" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminMultasDetalleEntity" nillable="true" type="tns:AdminMultasDetalleEntity" />
</xs:schema>