adminlte/Connected Services/TASMateriaService/TASMateriaClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TASMateriaClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/TASMateria?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASMateria?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASMateria?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TASMateriaInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaBloquear" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaDesbloquear" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="TASMateriaInterface_WebTASMateriaSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASMateriaSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="TASMateriaInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebNuevo" message="tns:TASMateriaInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebNuevoResponse" message="tns:TASMateriaInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebGuardar" message="tns:TASMateriaInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebGuardarResponse" message="tns:TASMateriaInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebEliminar" message="tns:TASMateriaInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebEliminarResponse" message="tns:TASMateriaInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebEliminarDetalle" message="tns:TASMateriaInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebEliminarDetalleResponse" message="tns:TASMateriaInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebSeleccionar" message="tns:TASMateriaInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebSeleccionarResponse" message="tns:TASMateriaInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebRecalcular" message="tns:TASMateriaInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebRecalcularResponse" message="tns:TASMateriaInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaBloquear" message="tns:TASMateriaInterface_WebTASMateriaBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaBloquearResponse" message="tns:TASMateriaInterface_WebTASMateriaBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaDesbloquear" message="tns:TASMateriaInterface_WebTASMateriaDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaDesbloquearResponse" message="tns:TASMateriaInterface_WebTASMateriaDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaEsBloqueadoPor" message="tns:TASMateriaInterface_WebTASMateriaEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaEsBloqueadoPorResponse" message="tns:TASMateriaInterface_WebTASMateriaEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaEsBloqueado" message="tns:TASMateriaInterface_WebTASMateriaEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaEsBloqueadoResponse" message="tns:TASMateriaInterface_WebTASMateriaEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionarTodo" message="tns:TASMateriaInterface_WebTASMateriaSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionarTodoResponse" message="tns:TASMateriaInterface_WebTASMateriaSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionar" message="tns:TASMateriaInterface_WebTASMateriaSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionarResponse" message="tns:TASMateriaInterface_WebTASMateriaSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionarXSubCompania" message="tns:TASMateriaInterface_WebTASMateriaSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionarXSubCompaniaResponse" message="tns:TASMateriaInterface_WebTASMateriaSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TASMateriaInterface" type="tns:TASMateriaInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaBloquear">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebTASMateriaBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaDesbloquear">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebTASMateriaDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebTASMateriaEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebTASMateriaEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASMateriaSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/TASMateriaInterface/WebTASMateriaSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TASMateriaClass">
    <wsdl:port name="BasicHttpBinding_TASMateriaInterface" binding="tns:BasicHttpBinding_TASMateriaInterface">
      <soap:address location="http://alejandroasus:8901/TASMateria" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>