adminlte/Connected Services/TASMateriaService/TASMateria1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alejandroasus:8901/TASMateria?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
  <xs:element name="WebNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebNuevoResult" nillable="true" type="q1:TASMateriaSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASMateria" nillable="true" type="q2:TASMateriaSet" />
        <xs:element minOccurs="0" name="EsNuevo" type="xs:boolean" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebGuardarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASMateria" nillable="true" type="q3:TASMateriaSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASMateria" nillable="true" type="q4:TASMateriaSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarDetalleResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebSeleccionarResult" nillable="true" type="q5:TASMateriaSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setTASMateria" nillable="true" type="q6:TASMateriaSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebRecalcularResult" nillable="true" type="q7:TASMateriaSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaBloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaBloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASMateriaBloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaDesbloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaDesbloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASMateriaDesbloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaEsBloqueadoPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaEsBloqueadoPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASMateriaEsBloqueadoPorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaEsBloqueado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaEsBloqueadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebTASMateriaEsBloqueadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaSeleccionarTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaSeleccionarTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebTASMateriaSeleccionarTodoResult" nillable="true" type="q8:ArrayOfTASMateriaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebTASMateriaSeleccionarResult" nillable="true" type="q9:ArrayOfTASMateriaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaSeleccionarXSubCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebTASMateriaSeleccionarXSubCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebTASMateriaSeleccionarXSubCompaniaResult" nillable="true" type="q10:ArrayOfTASMateriaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>