adminlte/Connected Services/AdminReglasPlanPagoService/AdminReglasPlanPagoClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminReglasPlanPagoClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminReglasPlanPago?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminReglasPlanPago?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminReglasPlanPago?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoBloquear" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoDesbloquear" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoSeleccionar" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminReglasPlanPagoSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminReglasPlanPagoInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebNuevo" message="tns:AdminReglasPlanPagoInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebNuevoResponse" message="tns:AdminReglasPlanPagoInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebGuardar" message="tns:AdminReglasPlanPagoInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebGuardarResponse" message="tns:AdminReglasPlanPagoInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebEliminar" message="tns:AdminReglasPlanPagoInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebEliminarResponse" message="tns:AdminReglasPlanPagoInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebEliminarDetalle" message="tns:AdminReglasPlanPagoInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebEliminarDetalleResponse" message="tns:AdminReglasPlanPagoInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebSeleccionar" message="tns:AdminReglasPlanPagoInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebSeleccionarResponse" message="tns:AdminReglasPlanPagoInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebRecalcular" message="tns:AdminReglasPlanPagoInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebRecalcularResponse" message="tns:AdminReglasPlanPagoInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoBloquear" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoBloquearResponse" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoDesbloquear" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoDesbloquearResponse" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoEsBloqueadoPor" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoEsBloqueadoPorResponse" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoEsBloqueado" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoEsBloqueadoResponse" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionarTodo" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionarTodoResponse" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionar" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionarResponse" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionarXSubCompania" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionarXSubCompaniaResponse" message="tns:AdminReglasPlanPagoInterface_WebAdminReglasPlanPagoSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AdminReglasPlanPagoInterface" type="tns:AdminReglasPlanPagoInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoBloquear">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoDesbloquear">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoSeleccionar">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminReglasPlanPagoSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/AdminReglasPlanPagoInterface/WebAdminReglasPlanPagoSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminReglasPlanPagoClass">
    <wsdl:port name="BasicHttpBinding_AdminReglasPlanPagoInterface" binding="tns:BasicHttpBinding_AdminReglasPlanPagoInterface">
      <soap:address location="http://alejandroasus:8901/AdminReglasPlanPago" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>