adminlte/Connected Services/AdminReglasPlanPagoService/AdminReglasPlanPago2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alejandroasus:8901/AdminReglasPlanPago?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
  <xs:element name="WebNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebNuevoResult" nillable="true" type="q1:AdminReglasPlanPagoSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminReglasPlanPago" nillable="true" type="q2:AdminReglasPlanPagoSet" />
        <xs:element minOccurs="0" name="EsNuevo" type="xs:boolean" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebGuardarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminReglasPlanPago" nillable="true" type="q3:AdminReglasPlanPagoSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminReglasPlanPago" nillable="true" type="q4:AdminReglasPlanPagoSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarDetalleResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebSeleccionarResult" nillable="true" type="q5:AdminReglasPlanPagoSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminReglasPlanPago" nillable="true" type="q6:AdminReglasPlanPagoSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebRecalcularResult" nillable="true" type="q7:AdminReglasPlanPagoSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoBloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoBloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminReglasPlanPagoBloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoDesbloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoDesbloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminReglasPlanPagoDesbloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoEsBloqueadoPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoEsBloqueadoPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminReglasPlanPagoEsBloqueadoPorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoEsBloqueado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoEsBloqueadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminReglasPlanPagoEsBloqueadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoSeleccionarTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoSeleccionarTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminReglasPlanPagoSeleccionarTodoResult" nillable="true" type="q8:ArrayOfAdminReglasPlanPagoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminReglasPlanPagoSeleccionarResult" nillable="true" type="q9:ArrayOfAdminReglasPlanPagoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoSeleccionarXSubCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminReglasPlanPagoSeleccionarXSubCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminReglasPlanPagoSeleccionarXSubCompaniaResult" nillable="true" type="q10:ArrayOfAdminReglasPlanPagoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>