adminlte/Connected Services/TASConfiguracionEncuestaSatisfacEstudService/TASConfiguracionEncuestaSatisfaccionEstudianteClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TASConfiguracionEncuestaSatisfaccionEstudianteClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/TASConfiguracionEncuestaSatisfaccionEstudiante?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASConfiguracionEncuestaSatisfaccionEstudiante?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASConfiguracionEncuestaSatisfaccionEstudiante?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="TASConfiguracionEncuestaSatisfaccionEstudianteInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebNuevo" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebNuevoResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebGuardar" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebGuardarResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebEliminar" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebEliminarResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebEliminarDetalle" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebEliminarDetalleResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebSeleccionar" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebSeleccionarResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebRecalcular" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebRecalcularResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquearResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquearResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPorResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodoResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompaniaResponse" message="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface_WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TASConfiguracionEncuestaSatisfaccionEstudianteInterface" type="tns:TASConfiguracionEncuestaSatisfaccionEstudianteInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/TASConfiguracionEncuestaSatisfaccionEstudianteInterface/WebTASConfiguracionEncuestaSatisfaccionEstudianteSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TASConfiguracionEncuestaSatisfaccionEstudianteClass">
    <wsdl:port name="BasicHttpBinding_TASConfiguracionEncuestaSatisfaccionEstudianteInterface" binding="tns:BasicHttpBinding_TASConfiguracionEncuestaSatisfaccionEstudianteInterface">
      <soap:address location="http://alejandroasus:8901/TASConfiguracionEncuestaSatisfaccionEstudiante" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>