adminlte/Connected Services/TASEstudianteService/TASEstudianteClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TASEstudianteClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/TASEstudiante?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASEstudiante?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/TASEstudiante?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TASEstudianteInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteBloquear" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteDesbloquear" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionar" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionarXGrupo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionarXGrupo" />
  </wsdl:message>
  <wsdl:message name="TASEstudianteInterface_WebTASEstudianteSeleccionarXGrupo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebTASEstudianteSeleccionarXGrupoResponse" />
  </wsdl:message>
  <wsdl:portType name="TASEstudianteInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebNuevo" message="tns:TASEstudianteInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebNuevoResponse" message="tns:TASEstudianteInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebGuardar" message="tns:TASEstudianteInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebGuardarResponse" message="tns:TASEstudianteInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebEliminar" message="tns:TASEstudianteInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebEliminarResponse" message="tns:TASEstudianteInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebEliminarDetalle" message="tns:TASEstudianteInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebEliminarDetalleResponse" message="tns:TASEstudianteInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebSeleccionar" message="tns:TASEstudianteInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebSeleccionarResponse" message="tns:TASEstudianteInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebRecalcular" message="tns:TASEstudianteInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebRecalcularResponse" message="tns:TASEstudianteInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteBloquear" message="tns:TASEstudianteInterface_WebTASEstudianteBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteBloquearResponse" message="tns:TASEstudianteInterface_WebTASEstudianteBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteDesbloquear" message="tns:TASEstudianteInterface_WebTASEstudianteDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteDesbloquearResponse" message="tns:TASEstudianteInterface_WebTASEstudianteDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteEsBloqueadoPor" message="tns:TASEstudianteInterface_WebTASEstudianteEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteEsBloqueadoPorResponse" message="tns:TASEstudianteInterface_WebTASEstudianteEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteEsBloqueado" message="tns:TASEstudianteInterface_WebTASEstudianteEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteEsBloqueadoResponse" message="tns:TASEstudianteInterface_WebTASEstudianteEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarTodo" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarTodoResponse" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionar" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarResponse" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarXSubCompania" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarXSubCompaniaResponse" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionarXGrupo">
      <wsdl:input wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarXGrupo" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionarXGrupo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarXGrupoResponse" message="tns:TASEstudianteInterface_WebTASEstudianteSeleccionarXGrupo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TASEstudianteInterface" type="tns:TASEstudianteInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteBloquear">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteDesbloquear">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionar">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebTASEstudianteSeleccionarXGrupo">
      <soap:operation soapAction="http://tempuri.org/TASEstudianteInterface/WebTASEstudianteSeleccionarXGrupo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TASEstudianteClass">
    <wsdl:port name="BasicHttpBinding_TASEstudianteInterface" binding="tns:BasicHttpBinding_TASEstudianteInterface">
      <soap:address location="http://alejandroasus:8901/TASEstudiante" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>