adminlte/Connected Services/AdminDeudaTextoService/AdminDeudaTexto2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdminDeudaTextoSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltAdminDeudaTexto" nillable="true" type="tns:ArrayOfAdminDeudaTextoEntity" />
      <xs:element minOccurs="0" name="ltAdminDeudaTextoDetalle" nillable="true" type="tns:ArrayOfAdminDeudaTextoDetalleEntity" />
      <xs:element minOccurs="0" name="ltAdminDeudaTextoDetalleEliminado" nillable="true" type="tns:ArrayOfAdminDeudaTextoDetalleEntity" />
      <xs:element minOccurs="0" name="ltAdminDeudaTextoEliminado" nillable="true" type="tns:ArrayOfAdminDeudaTextoEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminDeudaTextoSet" nillable="true" type="tns:AdminDeudaTextoSet" />
  <xs:complexType name="ArrayOfAdminDeudaTextoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminDeudaTextoEntity" nillable="true" type="tns:AdminDeudaTextoEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminDeudaTextoEntity" nillable="true" type="tns:ArrayOfAdminDeudaTextoEntity" />
  <xs:complexType name="AdminDeudaTextoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="EstudianteCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminDeudaTextoEntity" nillable="true" type="tns:AdminDeudaTextoEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfAdminDeudaTextoDetalleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminDeudaTextoDetalleEntity" nillable="true" type="tns:AdminDeudaTextoDetalleEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminDeudaTextoDetalleEntity" nillable="true" type="tns:ArrayOfAdminDeudaTextoDetalleEntity" />
  <xs:complexType name="AdminDeudaTextoDetalleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Concepto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstudianteCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaPago" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="NumeroFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagado" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminDeudaTextoDetalleEntity" nillable="true" type="tns:AdminDeudaTextoDetalleEntity" />
</xs:schema>