adminlte/Connected Services/TASEncuestaSatisfaccionEstudianteService/TASEncuestaSatisfaccionEstudiante2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TASEncuestaSatisfaccionEstudianteSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltTASEncuestaSatisfaccionEstudiante" nillable="true" type="tns:ArrayOfTASEncuestaSatisfaccionEstudianteEntity" />
      <xs:element minOccurs="0" name="ltTASEncuestaSatisfaccionEstudianteEliminado" nillable="true" type="tns:ArrayOfTASEncuestaSatisfaccionEstudianteEntity" />
      <xs:element minOccurs="0" name="ltTASEncuestaSatisfaccionEstudianteLinea" nillable="true" type="tns:ArrayOfTASEncuestaSatisfaccionEstudianteLineaEntity" />
      <xs:element minOccurs="0" name="ltTASEncuestaSatisfaccionEstudianteLineaEliminado" nillable="true" type="tns:ArrayOfTASEncuestaSatisfaccionEstudianteLineaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TASEncuestaSatisfaccionEstudianteSet" nillable="true" type="tns:TASEncuestaSatisfaccionEstudianteSet" />
  <xs:complexType name="ArrayOfTASEncuestaSatisfaccionEstudianteEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TASEncuestaSatisfaccionEstudianteEntity" nillable="true" type="tns:TASEncuestaSatisfaccionEstudianteEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTASEncuestaSatisfaccionEstudianteEntity" nillable="true" type="tns:ArrayOfTASEncuestaSatisfaccionEstudianteEntity" />
  <xs:complexType name="TASEncuestaSatisfaccionEstudianteEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TASEncuestaSatisfaccionEstudianteEntity" nillable="true" type="tns:TASEncuestaSatisfaccionEstudianteEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfTASEncuestaSatisfaccionEstudianteLineaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TASEncuestaSatisfaccionEstudianteLineaEntity" nillable="true" type="tns:TASEncuestaSatisfaccionEstudianteLineaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTASEncuestaSatisfaccionEstudianteLineaEntity" nillable="true" type="tns:ArrayOfTASEncuestaSatisfaccionEstudianteLineaEntity" />
  <xs:complexType name="TASEncuestaSatisfaccionEstudianteLineaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CriterioEvaluacion" type="xs:long" />
      <xs:element minOccurs="0" name="EstudianteLic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Linea" type="xs:long" />
      <xs:element minOccurs="0" name="ObservacionSugerencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntuacion" type="xs:long" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TASEncuestaSatisfaccionEstudianteLineaEntity" nillable="true" type="tns:TASEncuestaSatisfaccionEstudianteLineaEntity" />
</xs:schema>