adminlte/Connected Services/AdminCatalogoTextoService/AdminCatalogoTextoClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminCatalogoTextoClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminCatalogoTexto?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminCatalogoTexto?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminCatalogoTexto?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AdminCatalogoTextoInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoBloquear" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoDesbloquear" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoSeleccionar" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminCatalogoTextoSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminCatalogoTextoInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebNuevo" message="tns:AdminCatalogoTextoInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebNuevoResponse" message="tns:AdminCatalogoTextoInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebGuardar" message="tns:AdminCatalogoTextoInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebGuardarResponse" message="tns:AdminCatalogoTextoInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebEliminar" message="tns:AdminCatalogoTextoInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebEliminarResponse" message="tns:AdminCatalogoTextoInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebEliminarDetalle" message="tns:AdminCatalogoTextoInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebEliminarDetalleResponse" message="tns:AdminCatalogoTextoInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebSeleccionar" message="tns:AdminCatalogoTextoInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebSeleccionarResponse" message="tns:AdminCatalogoTextoInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebRecalcular" message="tns:AdminCatalogoTextoInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebRecalcularResponse" message="tns:AdminCatalogoTextoInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoBloquear" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoBloquearResponse" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoDesbloquear" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoDesbloquearResponse" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoEsBloqueadoPor" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoEsBloqueadoPorResponse" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoEsBloqueado" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoEsBloqueadoResponse" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionarTodo" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionarTodoResponse" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionar" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionarResponse" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionarXSubCompania" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionarXSubCompaniaResponse" message="tns:AdminCatalogoTextoInterface_WebAdminCatalogoTextoSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AdminCatalogoTextoInterface" type="tns:AdminCatalogoTextoInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoBloquear">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoDesbloquear">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoSeleccionar">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminCatalogoTextoSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/AdminCatalogoTextoInterface/WebAdminCatalogoTextoSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminCatalogoTextoClass">
    <wsdl:port name="BasicHttpBinding_AdminCatalogoTextoInterface" binding="tns:BasicHttpBinding_AdminCatalogoTextoInterface">
      <soap:address location="http://alejandroasus:8901/AdminCatalogoTexto" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>