adminlte/Connected Services/ASATransaccionService/ASATransaccion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ASATransaccionSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltASATransaccion" nillable="true" type="tns:ArrayOfASATransaccionEntity" />
      <xs:element minOccurs="0" name="ltASATransaccionEliminado" nillable="true" type="tns:ArrayOfASATransaccionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASATransaccionSet" nillable="true" type="tns:ASATransaccionSet" />
  <xs:complexType name="ArrayOfASATransaccionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASATransaccionEntity" nillable="true" type="tns:ASATransaccionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASATransaccionEntity" nillable="true" type="tns:ArrayOfASATransaccionEntity" />
  <xs:complexType name="ASATransaccionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correcto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="EstudianteCI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Examen" type="xs:boolean" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GrupoPregunta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intento" type="xs:long" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="NroPregunta" type="xs:long" />
      <xs:element minOccurs="0" name="Opcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASATransaccionEntity" nillable="true" type="tns:ASATransaccionEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
</xs:schema>