adminlte/Connected Services/TASRegistroNotasService/TASRegistroNotas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TASRegistroNotasSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltTASRegistroNotas" nillable="true" type="tns:ArrayOfTASRegistroNotasEntity" />
      <xs:element minOccurs="0" name="ltTASRegistroNotasEliminado" nillable="true" type="tns:ArrayOfTASRegistroNotasEntity" />
      <xs:element minOccurs="0" name="ltTASRegistroNotasEstudiante" nillable="true" type="tns:ArrayOfTASRegistroNotasEstudianteEntity" />
      <xs:element minOccurs="0" name="ltTASRegistroNotasEstudianteEliminado" nillable="true" type="tns:ArrayOfTASRegistroNotasEstudianteEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TASRegistroNotasSet" nillable="true" type="tns:TASRegistroNotasSet" />
  <xs:complexType name="ArrayOfTASRegistroNotasEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TASRegistroNotasEntity" nillable="true" type="tns:TASRegistroNotasEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTASRegistroNotasEntity" nillable="true" type="tns:ArrayOfTASRegistroNotasEntity" />
  <xs:complexType name="TASRegistroNotasEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstructorLic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuloMateria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreReferenciaDominio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreReferenciaProgreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDominios" type="xs:long" />
      <xs:element minOccurs="0" name="NumeroProgresos" type="xs:long" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentajeDominio1D" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorcentajeDominio2D" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorcentajeIndividualDominio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentajeIndividualProgreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PorcentajeProgreso1P" type="xs:decimal" />
      <xs:element minOccurs="0" name="PorcentajeProgreso2P" type="xs:decimal" />
      <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TASRegistroNotasEntity" nillable="true" type="tns:TASRegistroNotasEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfTASRegistroNotasEstudianteEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TASRegistroNotasEstudianteEntity" nillable="true" type="tns:TASRegistroNotasEstudianteEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTASRegistroNotasEstudianteEntity" nillable="true" type="tns:ArrayOfTASRegistroNotasEstudianteEntity" />
  <xs:complexType name="TASRegistroNotasEstudianteEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AplicaRecuperatorio" type="xs:boolean" />
      <xs:element minOccurs="0" name="CalificacionNF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CalificacionRE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodigoTASEstudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dominio1D" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dominio2D" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gestion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModuloMateria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreEstudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NotaLiteral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Programa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Progreso1P" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Progreso2P" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TASRegistroNotasEstudianteEntity" nillable="true" type="tns:TASRegistroNotasEstudianteEntity" />
</xs:schema>