adminlte/Connected Services/ASAPreguntaService/ASAPregunta2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfASAPreguntaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASAPreguntaEntity" nillable="true" type="tns:ASAPreguntaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASAPreguntaEntity" nillable="true" type="tns:ArrayOfASAPreguntaEntity" />
  <xs:complexType name="ASAPreguntaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Inhabilitado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="NroPregunta" type="xs:long" />
      <xs:element minOccurs="0" name="Pregunta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASAPreguntaEntity" nillable="true" type="tns:ASAPreguntaEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ASAPreguntaSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltASAPregunta" nillable="true" type="tns:ArrayOfASAPreguntaEntity" />
      <xs:element minOccurs="0" name="ltASAPreguntaRespuesta" nillable="true" type="tns:ArrayOfASAPreguntaRespuestaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASAPreguntaSet" nillable="true" type="tns:ASAPreguntaSet" />
  <xs:complexType name="ArrayOfASAPreguntaRespuestaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASAPreguntaRespuestaEntity" nillable="true" type="tns:ASAPreguntaRespuestaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASAPreguntaRespuestaEntity" nillable="true" type="tns:ArrayOfASAPreguntaRespuestaEntity" />
  <xs:complexType name="ASAPreguntaRespuestaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correcto" type="xs:boolean" />
      <xs:element minOccurs="0" name="NroPregunta" type="xs:long" />
      <xs:element minOccurs="0" name="Opcion" type="xs:long" />
      <xs:element minOccurs="0" name="Respuesta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPregunta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASAPreguntaRespuestaEntity" nillable="true" type="tns:ASAPreguntaRespuestaEntity" />
  <xs:complexType name="ArrayOfASAPreguntaSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASAPreguntaSet" nillable="true" type="tns:ASAPreguntaSet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASAPreguntaSet" nillable="true" type="tns:ArrayOfASAPreguntaSet" />
</xs:schema>