adminlte/Connected Services/ASATRespuestaService/ASATRespuesta1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfASATRespuestaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASATRespuestaEntity" nillable="true" type="tns:ASATRespuestaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASATRespuestaEntity" nillable="true" type="tns:ArrayOfASATRespuestaEntity" />
  <xs:complexType name="ASATRespuestaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estudiante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NroPregunta" type="xs:long" />
      <xs:element minOccurs="0" name="Opcion" type="xs:long" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASATRespuestaEntity" nillable="true" type="tns:ASATRespuestaEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ASATRespuestaSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltASATRespuesta" nillable="true" type="tns:ArrayOfASATRespuestaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASATRespuestaSet" nillable="true" type="tns:ASATRespuestaSet" />
</xs:schema>