adminlte/Connected Services/ASAConfiguracionService/ASAConfiguracion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ASAConfiguracionSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltASAConfiguracion" nillable="true" type="tns:ArrayOfASAConfiguracionEntity" />
      <xs:element minOccurs="0" name="ltASAConfiguracionEliminado" nillable="true" type="tns:ArrayOfASAConfiguracionEntity" />
      <xs:element minOccurs="0" name="ltASAConfiguracionLinea" nillable="true" type="tns:ArrayOfASAConfiguracionLineaEntity" />
      <xs:element minOccurs="0" name="ltASAConfiguracionLineaEliminado" nillable="true" type="tns:ArrayOfASAConfiguracionLineaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASAConfiguracionSet" nillable="true" type="tns:ASAConfiguracionSet" />
  <xs:complexType name="ArrayOfASAConfiguracionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASAConfiguracionEntity" nillable="true" type="tns:ASAConfiguracionEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASAConfiguracionEntity" nillable="true" type="tns:ArrayOfASAConfiguracionEntity" />
  <xs:complexType name="ASAConfiguracionEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadPregunta" type="xs:long" />
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIni" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASAConfiguracionEntity" nillable="true" type="tns:ASAConfiguracionEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfASAConfiguracionLineaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ASAConfiguracionLineaEntity" nillable="true" type="tns:ASAConfiguracionLineaEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfASAConfiguracionLineaEntity" nillable="true" type="tns:ArrayOfASAConfiguracionLineaEntity" />
  <xs:complexType name="ASAConfiguracionLineaEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadPregunta" type="xs:long" />
      <xs:element minOccurs="0" name="FechaDoc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaIni" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ASAConfiguracionLineaEntity" nillable="true" type="tns:ASAConfiguracionLineaEntity" />
</xs:schema>