adminlte/Connected Services/AXFWebMenuService/AXFWebMenu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AXFWebMenuSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltAXFWebMenu" nillable="true" type="tns:ArrayOfAXFWebMenuEntity" />
      <xs:element minOccurs="0" name="ltAXFWebMenuEliminado" nillable="true" type="tns:ArrayOfAXFWebMenuEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFWebMenuSet" nillable="true" type="tns:AXFWebMenuSet" />
  <xs:complexType name="ArrayOfAXFWebMenuEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AXFWebMenuEntity" nillable="true" type="tns:AXFWebMenuEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAXFWebMenuEntity" nillable="true" type="tns:ArrayOfAXFWebMenuEntity" />
  <xs:complexType name="AXFWebMenuEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Estilo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Modulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:long" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rotulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebControlador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebVista" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AXFWebMenuEntity" nillable="true" type="tns:AXFWebMenuEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
</xs:schema>