adminlte/Connected Services/AdminPlanPagoService/AdminPlanPago2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebObjetos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebObjetos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdminPlanPagoSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="ltAdminPlanPago" nillable="true" type="tns:ArrayOfAdminPlanPagoEntity" />
      <xs:element minOccurs="0" name="ltAdminPlanPagoDetalle" nillable="true" type="tns:ArrayOfAdminPlanPagoDetalleEntity" />
      <xs:element minOccurs="0" name="ltAdminPlanPagoDetalleEliminado" nillable="true" type="tns:ArrayOfAdminPlanPagoDetalleEntity" />
      <xs:element minOccurs="0" name="ltAdminPlanPagoEliminado" nillable="true" type="tns:ArrayOfAdminPlanPagoEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminPlanPagoSet" nillable="true" type="tns:AdminPlanPagoSet" />
  <xs:complexType name="ArrayOfAdminPlanPagoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminPlanPagoEntity" nillable="true" type="tns:AdminPlanPagoEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminPlanPagoEntity" nillable="true" type="tns:ArrayOfAdminPlanPagoEntity" />
  <xs:complexType name="AdminPlanPagoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Decimal1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Decimal2" type="xs:decimal" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entero1" type="xs:long" />
      <xs:element minOccurs="0" name="Entero2" type="xs:long" />
      <xs:element minOccurs="0" name="Fecha1" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha2" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logico1" type="xs:boolean" />
      <xs:element minOccurs="0" name="Logico2" type="xs:boolean" />
      <xs:element minOccurs="0" name="Observacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Texto4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UClase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
      <xs:element minOccurs="0" name="USel" type="xs:boolean" />
      <xs:element minOccurs="0" name="UUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminPlanPagoEntity" nillable="true" type="tns:AdminPlanPagoEntity" />
  <xs:simpleType name="Estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Added" />
      <xs:enumeration value="Unchanged" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Estado" nillable="true" type="tns:Estado" />
  <xs:complexType name="ArrayOfAdminPlanPagoDetalleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminPlanPagoDetalleEntity" nillable="true" type="tns:AdminPlanPagoDetalleEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminPlanPagoDetalleEntity" nillable="true" type="tns:ArrayOfAdminPlanPagoDetalleEntity" />
  <xs:complexType name="AdminPlanPagoDetalleEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaLimite" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Linea" type="xs:long" />
      <xs:element minOccurs="0" name="Mensualidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoSugerido" type="xs:decimal" />
      <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UEstado" type="tns:Estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminPlanPagoDetalleEntity" nillable="true" type="tns:AdminPlanPagoDetalleEntity" />
</xs:schema>