adminlte/Connected Services/AdminPlanPagoService/AdminPlanPago1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://alejandroasus:8901/AdminPlanPago?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
  <xs:element name="WebNuevo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebNuevoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebNuevoResult" nillable="true" type="q1:AdminPlanPagoSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminPlanPago" nillable="true" type="q2:AdminPlanPagoSet" />
        <xs:element minOccurs="0" name="EsNuevo" type="xs:boolean" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebGuardarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminPlanPago" nillable="true" type="q3:AdminPlanPagoSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminPlanPago" nillable="true" type="q4:AdminPlanPagoSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebEliminarDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebEliminarDetalleResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebSeleccionarResult" nillable="true" type="q5:AdminPlanPagoSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcular">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="setAdminPlanPago" nillable="true" type="q6:AdminPlanPagoSet" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebRecalcularResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebRecalcularResult" nillable="true" type="q7:AdminPlanPagoSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoBloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoBloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminPlanPagoBloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDesbloquear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDesbloquearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminPlanPagoDesbloquearResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoEsBloqueadoPor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoEsBloqueadoPorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminPlanPagoEsBloqueadoPorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoEsBloqueado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoEsBloqueadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminPlanPagoEsBloqueadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoSeleccionarTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoSeleccionarTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminPlanPagoSeleccionarTodoResult" nillable="true" type="q8:ArrayOfAdminPlanPagoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminPlanPagoSeleccionarResult" nillable="true" type="q9:ArrayOfAdminPlanPagoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoSeleccionarXSubCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoSeleccionarXSubCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminPlanPagoSeleccionarXSubCompaniaResult" nillable="true" type="q10:ArrayOfAdminPlanPagoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionarTodo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionarTodoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminPlanPagoDetalleSeleccionarTodoResult" nillable="true" type="q11:ArrayOfAdminPlanPagoDetalleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminPlanPagoDetalleSeleccionarResult" nillable="true" type="q12:ArrayOfAdminPlanPagoDetalleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionarKeyAdminPlanPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionarKeyAdminPlanPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminPlanPagoDetalleSeleccionarKeyAdminPlanPagoResult" nillable="true" type="q13:ArrayOfAdminPlanPagoDetalleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionarXSubCompania">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleSeleccionarXSubCompaniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WebObjetos" minOccurs="0" name="WebAdminPlanPagoDetalleSeleccionarXSubCompaniaResult" nillable="true" type="q14:ArrayOfAdminPlanPagoDetalleEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleExisteMensualidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubCompania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Linea" type="xs:long" />
        <xs:element minOccurs="0" name="Mensualidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="esNuevo" type="xs:boolean" />
        <xs:element minOccurs="0" name="strAKASesion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAKASubCompania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAdminPlanPagoDetalleExisteMensualidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAdminPlanPagoDetalleExisteMensualidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>