adminlte/Connected Services/AdminAsignacionReglasPlanPagoService/AdminAsignacionReglasPlanPagoClass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminAsignacionReglasPlanPagoClass" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminAsignacionReglasPlanPago?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminAsignacionReglasPlanPago?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://alejandroasus:8901/AdminAsignacionReglasPlanPago?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebObjetos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebNuevo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevo" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebNuevo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebNuevoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardar" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminar" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebEliminarDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalle" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebEliminarDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebEliminarDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionar" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebRecalcular_InputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcular" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebRecalcular_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebRecalcularResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoBloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoBloquear" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoBloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoBloquearResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoDesbloquear_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoDesbloquear" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoDesbloquear_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoDesbloquearResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueadoPor_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoEsBloqueadoPor" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueadoPor_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoEsBloqueadoPorResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueado_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoEsBloqueado" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueado_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoEsBloqueadoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarTodo_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoSeleccionarTodo" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarTodo_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoSeleccionarTodoResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionar_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoSeleccionar" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoSeleccionarResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania_InputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompaniaResponse" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebSeleccionarXGrupoKey_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarXGrupoKey" />
  </wsdl:message>
  <wsdl:message name="AdminAsignacionReglasPlanPagoInterface_WebSeleccionarXGrupoKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSeleccionarXGrupoKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminAsignacionReglasPlanPagoInterface">
    <wsdl:operation name="WebNuevo">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebNuevo" message="tns:AdminAsignacionReglasPlanPagoInterface_WebNuevo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebNuevoResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebNuevo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebGuardar" message="tns:AdminAsignacionReglasPlanPagoInterface_WebGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebGuardarResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebEliminar" message="tns:AdminAsignacionReglasPlanPagoInterface_WebEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebEliminarResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebEliminarDetalle" message="tns:AdminAsignacionReglasPlanPagoInterface_WebEliminarDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebEliminarDetalleResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebEliminarDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebSeleccionar" message="tns:AdminAsignacionReglasPlanPagoInterface_WebSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebSeleccionarResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebRecalcular" message="tns:AdminAsignacionReglasPlanPagoInterface_WebRecalcular_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebRecalcularResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebRecalcular_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoBloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoBloquear" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoBloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoBloquearResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoBloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoDesbloquear">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoDesbloquear" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoDesbloquear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoDesbloquearResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoDesbloquear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoEsBloqueadoPor">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoEsBloqueadoPor" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueadoPor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoEsBloqueadoPorResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueadoPor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoEsBloqueado">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoEsBloqueado" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoEsBloqueadoResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoEsBloqueado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoSeleccionarTodo">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionarTodo" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarTodo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionarTodoResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarTodo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoSeleccionar">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionar" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionarResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompaniaResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionarXGrupoKey">
      <wsdl:input wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebSeleccionarXGrupoKey" message="tns:AdminAsignacionReglasPlanPagoInterface_WebSeleccionarXGrupoKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebSeleccionarXGrupoKeyResponse" message="tns:AdminAsignacionReglasPlanPagoInterface_WebSeleccionarXGrupoKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AdminAsignacionReglasPlanPagoInterface" type="tns:AdminAsignacionReglasPlanPagoInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebNuevo">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebNuevo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebGuardar">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminar">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebEliminarDetalle">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebEliminarDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionar">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebRecalcular">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebRecalcular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoBloquear">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoBloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoDesbloquear">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoDesbloquear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoEsBloqueadoPor">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoEsBloqueadoPor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoEsBloqueado">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoEsBloqueado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoSeleccionarTodo">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionarTodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoSeleccionar">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebAdminAsignacionReglasPlanPagoSeleccionarXSubCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSeleccionarXGrupoKey">
      <soap:operation soapAction="http://tempuri.org/AdminAsignacionReglasPlanPagoInterface/WebSeleccionarXGrupoKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminAsignacionReglasPlanPagoClass">
    <wsdl:port name="BasicHttpBinding_AdminAsignacionReglasPlanPagoInterface" binding="tns:BasicHttpBinding_AdminAsignacionReglasPlanPagoInterface">
      <soap:address location="http://alejandroasus:8901/AdminAsignacionReglasPlanPago" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>